<!DOCTYPE html>
<html lang="en">
<head>
    <title>CRUD Example - Customer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css">
</head>
<body>

{# NavBar #}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Customers</a>
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/create">Add Customer</a>
        </li>
    </ul>
</nav>

{# Customer Options #}
<section>
    <div class="container">

    </div>
</section>

{# Customer info #}
<section>
    <div class="container">
        Name: {{ name }} <br>
        Address: {{ address }} <br>
        Address Type: {{ address_type }} <br>
        Instructions: {{ instructions }}
    </div>
</section>

</body>
</html>