<!DOCTYPE html>
<html lang="en">
<head>
    <title>CRUD Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css">
</head>
<body>

{# NavBar #}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Customers</a>
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/create">Add Customer</a>
        </li>
    </ul>
</nav>


{# Customer List #}
<section>
    <div class="container">
        <h2>Customers</h2>

        <ul>
        {% for customer in customers %}
            <li><a href="/{{ customer.Name }}">{{ customer.Name }}</a></li>
        {% empty %}
            <li>You have no customers yet. Click <a href="/create">here</a> or "Add Customer" in the navbar to create one.</li>
        {% endfor %}
        </ul>
    </div>
</section>

</body>
</html>